nav img{
    width: 70px;
   
}
nav{
   
    background-color: blanchedalmond;
    padding: 3px;
    
}
ul{
    display: inline-flex;
    list-style-type:none;
}

li span{
    color: black;
    font-size: medium;
    font-weight: 450;
}
ul li {
    display: inline-block;
    padding: 7px;
}
li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size:18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login{
    float: right;
    /* margin-left: 500px; */
    margin-right: 7px;
    margin-top: 39px;
    text-decoration: none;
    cursor: pointer;
    font-size:18px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
