.example-container {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(236, 213, 217);
  }
  .example-radio-group {
   display: inline;
   
    margin: 20px;
    padding: 10px;
  }
  .icon{
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
  }

  ol li {
    
    border: none;
    text-decoration:none;
    padding: 7px;}

  li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size:larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}